{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
